extends layout/layout

block Main
    section.First-section.content-center.main-box-shadow
        .wrapper
            p.First-sectionParagraph Una plantilla exclusiva y Premium HTML5 y CSS3 creada exclusivamente para Controlmas.
            a.First-sectionLink(href='#') Boton que hace algo
                i.fa.fa-arrow-down

    section.Second-section.content-center#about
        a(href='#' class='js-modal-btn Second-sectionLink' data-video-id='QQr-oIhnQDc')#Video-sectionBtn Ver video
            i.fa.fa-play-circle-o

    section.Third-section.content-center.main-box-shadow
        i.fa.fa-html5

    section.Fourth-section.content-center
        .wrapper
            article.Fourth-sectionArticles.first-article
                h3.Fourth-sectionTitle Este es el titulo del articulo FIRST
                p.Fourth-sectionParagraph Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                a(href='#' class='Fourth-sectionLink') Este es el texto del enlace
                    i.fa.fa-long-arrow-right
            article.Fourth-sectionArticles.second-article
                h3.Fourth-sectionTitle Este es el titulo del articulo SECOND
                p.Fourth-sectionParagraph Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                a(href='#' class='Fourth-sectionLink') Este es el texto del enlace
                    i.fa.fa-long-arrow-right

            article.Fourth-sectionArticles.third-article
                h3.Fourth-sectionTitle Este es el titulo del articulo THIRD
                p.Fourth-sectionParagraph Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                a(href='#' class='Fourth-sectionLink') Este es el texto del enlace
                    i.fa.fa-long-arrow-right

            .Fourth-sectionArticlesLinks
                ul
                    li: a(href='#' class='article-link first active')
                    li: a(href='#' class='article-link second')
                    li: a(href='#' class='article-link third')

    section.Fifth-section#features
        .wrapper
            article.Fifth-sectionArticle
                span.feature-icon
                    i.fa.fa-desktop
                .feature-content
                    h3.feature-contentTitle Responsive
                    p.feature-contentParagraph Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    a(href='#' class='feature-contentLink') READ MORE
                        i.fa.fa-chevron-circle-right

            article.Fifth-sectionArticle
                span.feature-icon
                    i.fa.fa-flash
                .feature-content
                    h3.feature-contentTitle Multi Proposito
                    p.feature-contentParagraph Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    a(href='#' class='feature-contentLink') READ MORE
                        i.fa.fa-chevron-circle-right

            article.Fifth-sectionArticle
                span.feature-icon
                    i.fa.fa-heart
                .feature-content
                    h3.feature-contentTitle Totalmente Gratis
                    p.feature-contentParagraph Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    a(href='#' class='feature-contentLink') READ MORE
                        i.fa.fa-chevron-circle-right

    section.Sixth-section#screenShots
        .gallery
            - var path = "/img/screenshots/"
            - var images = [{"name": ['1.jpg']}, {'name': '2.jpg'}]
            each image in images
                a(href="#")
                    figure.gallery-item
                        img(src=path + image.name)