extends layout/layout

block Main
    section.First-section
        .wrapper
            p.First-sectionParagraph Una plantilla exclusiva y Premium HTML5 y CSS3 creada exclusivamente para Controlmas.
            a.First-sectionLink(href='#') Boton que hace algo