extends layout/layout

block Main
    section.First-section.content-center
        .wrapper
            p.First-sectionParagraph Una plantilla exclusiva y Premium HTML5 y CSS3 creada exclusivamente para Controlmas.
            a.First-sectionLink(href='#') Boton que hace algo
                i.fa.fa-arrow-down

    section.Video-section.content-center
        a(href='#' class='js-modal-btn Video-sectionLink' data-video-id='QQr-oIhnQDc')#Video-sectionBtn Ver video
            i.fa.fa-play-circle