header.Header
    figure.Header-logo
        img(src='/img/logo.png')
    nav.Header-nav#Header-nav
        ul.Header-list
            li.Header-listItem: a(href='#') About
            li.Header-listItem: a(href='#') Features
            li.Header-listItem: a(href='#') Screenshots
            li.Header-listItem: a(href='#') Random
